@import "./variables.scss";

.contactInfoList{
    width: 100%;
    .contactInfoListItem{
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
        @media (max-width: $small-l) {
            flex-direction: column;
            align-items: center;
        }
        .contactInfoLogo{
            width: 50px;
            transition: all .5s ease;
            &:hover{
                transform: scale(1.1);
            }
            @media (max-width: $large) {
                width: 40px;
            }
        }
        .contactInfoTitle{
           text-align: center;
           font-size: 1rem;
        @media (max-width: $large) {
            font-size: .8rem;
        }
        }
    }
}

.linkContacto{
    color: white;
    text-decoration: none;
}
