@import "./variables.scss";
@import "./animaciones.scss";

.sobreMiContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    gap: 2rem;
    align-items: center;
    position: relative;
    overflow-y: hidden;
    @media (max-width: $large){
        flex-direction: column;
        height: 100%;
        overflow: hidden;
    }
    .exploradorContainer{
        z-index: 5;
        margin: 0 auto;
        width: 50%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;

        @media (max-width: $large){
            width: 100%;
            padding-inline: 0;
        }
    }
    .sobreMiTextContainer{
        z-index: 5;
        width: 50%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        @media (max-width: $large){
            width: 100%;
        }
        @media (max-width: $medium){
            padding: 0;
        }
    }
    .backgroundSobreMi1{
        position: absolute;
        width: 25%;
        height: 50%;
        background-image: url(../assets/svg/Blob1.svg);
        background-repeat: no-repeat;
        background-size: contain;
        top: 50%;
        left: 50%;
        -webkit-animation: jello-horizontal 7s ease infinite;
        animation: jello-horizontal 7s ease infinite;
        rotate: 50deg;
        @media (max-width: $medium){
           width: 50%;
        }
        @media (max-width: $small-l){
            left: 20%;;
        }
    }
    .backgroundSobreMi2{
        position: absolute;
        width: 25%;
        height: 50%;
        background-size: contain;
        background-image: url(../assets/svg/blob2.svg);
        background-repeat: no-repeat;
        top: 0%;
        left: 10%;
        -webkit-animation: jello-horizontal 5s ease infinite;
        animation: jello-horizontal 5s ease infinite; 
        @media (max-width: $large){
            top: 15%;
        }
        @media (max-width: $medium){
            width: 50%;
        }
    }
}