@import "./variables.scss";

.stackList{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(250px, 1fr));
    justify-items: start;
    align-items: center;
    align-content: center;
    @media (max-width: $large){
        justify-items: center;
    }
    li{
        font-size: 1.2rem;
    }
}
